.intro{
    max-width: 990px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 95px auto;
    text-align: left;
}

.intro__text-title{
    font-size: 54px;
    line-height: 1.1;
    max-width: 830px;
    font-family: "Inter-Black", sans-serif;
}

.intro__text-paragraph{
  max-width: 740px;
  font-size: 24px;
  line-height: 1.3;
  text-align: justify;
}

.intro__text-cita{
    text-align: left;
}

.intro__text-autor{
    font-weight: 400;
    text-align: right;
}

.intro__text-resumen{
    font-size: 16px;
    line-height: 1.6;
}

/* @media screen and (min-width: 320px) and (max-width: 544px) {
    .intro {
      max-width: 288px;
    }
  
    .intro__text-title {
      font-size: 32px;
    }
  
    .intro__text-cita,
    .intro__text-autor {
      font-size: 24px;
    }
  
    .intro__text-resumen {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 545px) and (max-width: 1024px) {
    .intro {
      max-width: 720px;
    }
  
    .intro__text-title {
      font-size: 45px;
    }
  
    .intro__text-cita,
    .intro__text-autor {
      font-size: 24px;
    }
  
    .intro__text-resumen {
      font-size: 16px;
    }
  } */