.photo-grid{
    max-width: 1190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
    margin: 95px auto;
}

.photo-grid__item{
    object-fit: cover;
    width: 100%;
}
